body {
    padding: 0;
    margin: 0;
    background-color: #000;
}
canvas {
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*max-width: 1280px;*/
    bottom: 0;
    right: 0;
}

.canvasZero {
    z-index: 0;
}

.canvasOne {
    z-index: 1;
}